build --action_env=BAZEL_CXXOPTS="-std=c++17"
#build --cxxopt='--std=c++17'
build --cxxopt=-O2
build --jobs 4

build --sandbox_writable_path=/run/user/0/ccache-tmp/
build --sandbox_writable_path=/root/.cache/
#build --spawn_strategy=local
